# Dependency directories
node_modules/

# IntelliJ IDEA files
/.idea/

# Playwright files
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure
allure-results/

# File with environment variables
.env
